.Error .text{
	text-align: center;
	margin-top: 100px;
	color: #fff;
}

.Error{
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.error_404{
	color: red;
	font-weight: 700;
	font-size: 54px;
}